
<div class="row marketing">
  <div class="item">
    <div>
      <select>
        <option value="volvo">SIZE</option>
        <option value="saab">L</option>
        <option value="mercedes">M</option>
        <option value="audi">S</option>
      </select>
    </div>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQHSuTteEuHM48Y7vs725-oc-oOxAwcGdMZPWt5-IPcFtqHb70H">
    <div class='CustomColor item-footer'>
      <p>T-SHIRT</p>
    </div>
    <div class='pull-right item-footer text-rigth'>
      <p>5,00$</p>
    </div>
  </div>
</div>
