<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Project name</a>

    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Default</a></li>
        <li><a href="">Static top</a></li>
        <li ng-class="{'cart-active': sold}"><a href=""><span style="font-size: 14px" class="glyphicon glyphicon-shopping-cart"></span></a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div class="parent">
    <div class="block">
      <img src="../images/mauntins.png" alt=""/>
    </div>
    <div class="shadow"></div>
  </div>
</div>
<div class="filter">

  <input type='checkbox' ng-model="men" id="men" style="width:70px; height:15px">
  <label for="men">MEN</label>
  <input type='checkbox' name="data"  ng-model="women" id="women" style="width:70px; height:15px">
  <label for="women">WOMEN</label>
  <input type='checkbox' name="data"  ng-model="child" id="child" style="width:70px; height:15px">
  <label for="child">CHILDROBOTOREN</label>


  <div class="pull-right">
    <button ng-click="filterReset()" class="form-control seeAll">SEE ALL PRODUCTS</button>
  </div>


</div>


<div class="marketing">
  <div class="item" ng-repeat="arr in arr">
    <div class="wrap" ng-class="{'active': arr.active}">
      <div>
        <select ng-options="arr.s.subItem as size.name for size in arr.size track by size.id" ng-model="selected">
          <option value=" ">SIZE</option>
        </select>
      </div>
      <img ng-src="{{arr.img}}">
      <div class='CustomColor item-footer'>
        <p>{{arr.name}}</p>
      </div>
      <div class='pull-right item-footer text-rigth'>
        <p>{{arr.price}}</p>
      </div>
    </div>
  </div>
</div>
